@using FiveP.Models;
@model Post
@{
    if (Model != null && Session["user"] != null)
    {
        FivePEntities db = new FivePEntities();
        ViewBag.Selected = "selected";
        List<Technology_Post> technology_Posts = db.Technology_Post.Where(n => n.post_id == Model.post_id).ToList();
        ViewBag.technology_Posts = technology_Posts;
    }
    ViewBag.Title = "IndexPostQuestion";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";

}
<script src="~/Content/ckeditor5/build/ckeditor.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<style>
    .ck.ck-editor__editable_inline > :last-child {
        margin-bottom: 120px;
    }

    body {
        font-family: Arial
    }
</style>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Hỏi</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Hỏi</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">

        <div class="col-xl-4 order-xl-2">
            <div class="card p-3">
                <div class="">
                    <h2>Trích.</h2>
                </div>
                <div>
                    <i>_Câu hỏi?</i>
                </div>
                <div>
                    Đặt tiêu đề của câu hỏi ngắn gọn, xúc tích, có các từ khóa chính của câu hỏi, để việc tìm kiếm sẽ dễ dàng hơn.
                </div>
                <div>
                    <i>_Chi tiết .</i>
                </div>
                <div>
                    Ghi đầy đủ, rỏ ràng câu hỏi của bạn, nếu có code thì càng tốt.
                </div>
                <div>
                    <i>_Công nghệ .</i>
                </div>
                <div>
                    Chọn cách công nghệ mà bài viết này có liên quan để tiện cho việc tìm kiếm, phân chia rỏ ràng các câu hỏi theo từng công nghệ.
                </div>
                <div>
                    <i>_Seo .</i>
                </div>
                <div>
                    Chọn những từ khóa chính của câu hỏi, ghi gắn gọn, để mọi người có thể dễ dàng tìm kiếm câu hỏi của bạn.
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0"> Bạn có thắc mắc gì? <i class="far fa-meh-rolling-eyes"></i></h3>
                        </div>
                        <div class="col-4 text-right">
                            <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form onsubmit="return CheckPost()" action="@Url.Action("IndexPostQuestion","PostQuestion")" method="post">
                        @if (Model != null)
                        {
                            <input type="hidden" name="post_id" value="@Model.post_id" />
                            <input type="hidden" name="post_datecreated" value="@Model.post_datecreated" />
                            <input type="hidden" name="post_img" value="" />
                            <input type="hidden" name="post_activate" value="@Model.post_activate.Value.ToString()" />
                            <input type="hidden" name="post_activate_admin" value="@Model.post_activate_admin.Value.ToString()" />
                            <input type="hidden" name="post_sum_reply" value="@Model.post_sum_reply" />
                            <input type="hidden" name="post_sum_comment" value="@Model.post_sum_comment" />
                            <input type="hidden" name="post_view" value="@Model.post_view" />
                            <input type="hidden" name="post_popular" value="@Model.post_popular" />
                            <input type="hidden" name="post_calculate_medal" value="@Model.post_calculate_medal" />
                        }
                        <h6 class="heading-small text-muted mb-4">Đặt câu hỏi?</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address"><i class="fas fa-pen-alt"></i> Câu hỏi?</label>
                                        <input id="titlePost" value="@if (Model != null) { @Model.post_title}" required="" name="post_title" class="form-control" placeholder="................................" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address"><i class="far fa-edit"></i> Chi tiết</label>
                                        <textarea class="form-control" id="editor" name="post_content" placeholder="................................">@if (Model != null) { @Model.post_content}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address"><i class="fas fa-laptop-code"></i> Công nghệ</label>

                                        <select class="form-control" required="" name="postTechnology" id="selectTechnology" multiple="multiple">
                                            @foreach (var item in ViewBag.dataTechnologys)
                                            {
                                                if (Model != null)
                                                {
                                                    <option value="@item.technology_id" @foreach (var item2 in ViewBag.technology_Posts) { if (item2.technology_id == item.technology_id) { @ViewBag.Selected } }>@item.technology_name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.technology_id">@item.technology_name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address"><i class="fas fa-tags"></i> Seo</label>
                                        <select class="form-control" required="" name="postTags" id="selectTags" multiple="multiple">
                                            @if (Model != null)
                                            {
                                                foreach (var item in ViewBag.dataTags)
                                                {

                                                    <option selected>@item.tags_name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success w-100"><i class="far fa-paper-plane"></i> Đăng câu hỏi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $("#selectTags").select2({
        tags: true,
        tokenSeparators: [',', ''],
        maximumSelectionLength: 20,
        placeholder: 'Chọn tối đa (20 thẻ tag)...'
    });
</script>
<script>
    $("#selectTechnology").select2({
        placeholder: 'Nhập công nghệ (tối đa 3 công nghệ)..',
        maximumSelectionLength: 3,
        allowClear: true
    });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'codeBlock', 'code', '|', 'bold', 'italic', 'Link', 'bulletedList', 'numberedList', '|', 'outdent', 'indent', '|', 'ImageUpload', 'blockQuote', 'insertTable', 'mediaEmbed', 'undo', 'redo']
        })
        .catch(error => {
            console.log(error);
        });
</script>