@model IEnumerable<FiveP.Models.User>
@using System.Text;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int count = 1;
}
<div class="container-fluid content-top-gap">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Người dùng</li>
        </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
        <h1>Hi <span class="text-primary">John</span>, Có @Model.Count() Người dùng</h1>
        <p>Very detailed & featured admin.</p>
    </div>

    <!-- statistics data -->
    <div class="statistics">
        <div class="row">
            <div class="col-xl-12">
                <a href="#" data-toggle="modal" data-target="#exampleModalLg" class="btn btn-primary mb-1"><i class="fas fa-rocket"></i> Thêm User</a>

            </div>
            <div class="col-xl-12">
                <input type="text" id="txtsearch" class="form-control" placeholder="Nhập từ cần tìm.." />
            </div>

            <div class="col-xl-12 table-responsive">

                <table class="table" id="AllQuestionPage">
                    <tr>
                        <th>
                            Stt
                        </th>

                        <th>
                            Tên
                        </th>

                        <th>
                            Chức vụ
                        </th>
                        <th>
                            Đăng nhập gần đây
                        </th>

                        <th>
                            Mật khẩu
                        </th>
                        <th>
                            Trạng thái
                        </th>

                        <th>
                            Nổi tiếng <a href="@Url.Action("MostFamous","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-up"></i></a><a href="@Url.Action("LessFamous","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-down"></i></a>
                        </th>
                        <th>
                            <i class="fab fa-galactic-senate" style="color:orangered;font-size:28px"></i> <a href="@Url.Action("ManyVipMedals","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-up"></i></a><a href="@Url.Action("LeastVipMedals","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-down"></i></a>
                        </th>
                        <th>
                            <i class="fas fa-medal" style="color:yellow"></i> <a href="@Url.Action("ManyGoldMedals","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-up"></i></a><a href="@Url.Action("LeastGoldMedals","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-down"></i></a>
                        </th>
                        <th>
                            <i class="fas fa-medal" style="color:silver"></i> <a href="@Url.Action("ManySilverMedals","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-up"></i></a><a href="@Url.Action("LeastSilverMedals","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-down"></i></a>
                        </th>
                        <th>
                            <i class="fas fa-medal" style="color:#e88d15"></i> <a href="@Url.Action("ManyBronzeMedals","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-up"></i></a><a href="@Url.Action("LeastBronzeMedals","Users")" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#AllQuestionPage"><i class="fas fa-long-arrow-alt-down"></i></a>
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.user_nicename)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.user_role)
                            </td>
                            <td>
                                @item.user_datelogin.Value.ToShortDateString()
                            </td>
                            <td>
                                ... <a href="#"><i class="fas fa-eye"></i></a>
                            </td>

                            <td>
                                @if (item.user_activate_admin == true)
                                {
                                    <span style="color:green">Hoạt động</span>
                                }
                                else
                                {
                                    <span style="color:red">Không hoạt động</span>
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.user_popular)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_vip_medal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_gold_medal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_silver_medal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_bronze_medal)
                            </td>

                            <td>
                                <a href="@Url.Action("Edit", "Users", new { id = item.user_id })"><i class="far fa-edit"></i></a>|
                                <a href="/UserPage/IndexUserPage?id=@Convert.ToBase64String(Encoding.ASCII.GetBytes(item.user_id.ToString()))"><i class="far fa-eye"></i></a> |
                                <a href="@Url.Action("Delete","Users", new { id = item.user_id})"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        count++;
                    }

                </table>
                <!--Thêm-->
                <div class="modal fade" id="exampleModalLg" tabindex="-1" aria-labelledby="exampleModalLgLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title h4" id="exampleModalLgLabel"><i class="fas fa-pen"></i>Thêm user mới </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="@Url.Action("AddUser","Users")" method="post">
                                    <div class="row mt--4">
                                        <div class="col-md-12">
                                            <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Email</small>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                                    </div>
                                                    <input name="user_email" class="flatpickr flatpickr-input form-control" type="text" placeholder="Email đăng nhập..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Password</small>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                                    </div>
                                                    <input name="user_pass" class="flatpickr flatpickr-input form-control" type="text" placeholder="Password..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary w-100"><i class="far fa-paper-plane"></i> Hoàn thành</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    $("#txtsearch").on("keyup", function () {
        var txtenter = $(this).val();
        $("table tr").each(function (results) {
            if (results !== 0) {
                var id = $(this).find("td:nth-child(2)").text();
                if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>

