@model FiveP.Models.Technology

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Technology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.technology_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_popular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_popular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.technology_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
