@model FiveP.Models.Commune

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Commune</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.commune_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commune_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commune_activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commune_activate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commune_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commune_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District.district_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.district_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.commune_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
