@model FiveP.Models.District

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>District</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.district_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.district_activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district_activate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.district_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincial.provincial_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincial.provincial_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.district_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
