@using FiveP.Models;
@model User
@{
    ViewBag.Title = "IndexUserPage";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";

    FivePEntities db = new FivePEntities();
    User user = (User)Session["user"];
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<style>
    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
        background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'12\' height=\'12\' viewBox=\'-4 -4 8 8\'%3e%3ccircle r=\'3\' fill=\'%23fff\'/%3e%3c/svg%3e');
    }
</style>
<div class="main-content" id="panel">
    <!-- Topnav -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(/Content/LayoutCenter/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Hello Jesse</h1>
                    <p class="text-white mt-0 mb-5">Câu hỏi hoặc câu trả lời của bạn, được nhiều người đánh giá cao, điểm danh tiếng và huy chương bạn sẽ càng nhiều, được nhiều người kính trọng.</p>
                    <a href="#!" class="btn btn-neutral">Câu hỏi?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-4 order-xl-2">
                <div class="card card-profile">
                    <img src="~/Content/LayoutCenter/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    @if (Model.user_img == null)
                                    {
                                        <img src="~/Content/argon-design-system-master/assets/img/faces/team-4.jpg" class="rounded-circle">
                                    }
                                    else
                                    {
                                        <img src="~/Content/LayoutCenter/ImgUser/@Model.user_img" class="rounded-circle">
                                    }
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info  mr-4 ">Mật khẩu</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Thông tin</a>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center">
                                    <div>
                                        @{ 
                                            List<Friend> friends = db.Friends.Where(n => n.user_friend_id == user.user_id || n.user_id == user.user_id).ToList();
                                        }
                                        <span class="heading">@friends.Count()</span>
                                        <span class="description">Bạn bè</span>
                                    </div>
                                    <div>
                                        <span class="heading">@Model.user_popular</span>
                                        <span class="description">Nổi tiếng</span>
                                    </div>
                                    <div>
                                        @{var varSumMedal = Model.user_gold_medal + Model.user_bronze_medal + Model.user_silver_medal + Model.user_vip_medal;}
                                        <span class="heading">@varSumMedal</span>
                                        <span class="description">Huy hiệu</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h5 class="h3">
                                @Model.user_nicename<span class="font-weight-light">, 27 <a href="#" data-toggle="modal" data-target="#exampleModalLg"><i class="fas fa-user-edit"></i></a> </span>
                            </h5>
                            <div class="h5 font-weight-300">
                                @{
                                    List<Technology_Care> TechnologyCare = db.Technology_Care.Where(n => n.user_id == Model.user_id).ToList();
                                }
                                <i class="ni location_pin mr-2"></i>@foreach (var item2 in TechnologyCare)
                                {<span style="padding:1%">@item2.Technology.technology_name</span>}
                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i><i class="fas fa-envelope-open-text"></i>&nbsp; @Model.user_email
                            </div>

                            <!--Đổi tông tin-->

                            <div class="modal fade" id="exampleModalLg" tabindex="-1" aria-labelledby="exampleModalLgLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title h4" id="exampleModalLgLabel"><i class="fas fa-user-edit"></i> Đổi thông tin cá nhân</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row mt--4">
                                                <div class="col-md-6">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Tên</small>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                                            </div>
                                                            <input class="flatpickr flatpickr-input form-control" type="text" placeholder="Tên..">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Giới tính</small>
                                                    <div class="custom-control custom-radio mb-3 float-left">
                                                        <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
                                                        <label class="custom-control-label" for="customRadio1">
                                                            <span>Nam &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-radio mb-3 float-left">
                                                        <input name="custom-radio-1" class="custom-control-input" id="customRadio2" checked type="radio">
                                                        <label class="custom-control-label" for="customRadio2">
                                                            <span>Nữ</span>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left"><i class="fas fa-code-branch"></i> Công nghệ</small>
                                                    <div class="">
                                                        <div class="form-group">
                                                            <div class="input-group ">
                                                                <select style="width:100%" name="PostTags" id="selectTechnology" multiple="multiple">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 border mb-3"></div>
                                                <div class="col-md-6">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left text-left">Ngày sinh</small>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                            </div>
                                                            <input class="flatpickr flatpickr-input form-control" type="date" placeholder="Select Date..">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Số điện thoại</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                                </div>
                                                                <input class="flatpickr range form-control" type="text" placeholder="Số điện thoại">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Tỉnh</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <select style="width:100%" id="provincial">
                                                                    <option selected="selected">Tỉnh</option>
                                                                    <option>white</option>
                                                                    <option>purple</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Huyện</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <select style="width:100%;" id="district">
                                                                    <option selected="selected">Huyện</option>
                                                                    <option>white</option>
                                                                    <option>purple</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Xã</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <select style="width:100%" id="commune">
                                                                    <option selected="selected">orange</option>
                                                                    <option>white</option>
                                                                    <option>purple</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Địa chỉ cụ thể</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="far fa-address-card"></i></span>
                                                                </div>
                                                                <input class="flatpickr range form-control" type="text" placeholder="Địa chỉ..">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-12 border mb-3"></div>
                                                <div class="col-md-12">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Facebook</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fab fa-facebook"></i></span>
                                                                </div>
                                                                <input class="flatpickr range form-control" type="text" placeholder="Facebook..">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left">Github</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fab fa-github"></i></span>
                                                                </div>
                                                                <input class="flatpickr range form-control" type="text" placeholder="Github..">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left"><i class="fas fa-briefcase"></i> Sở thích công việc</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <textarea class="flatpickr range form-control" style="height:120px" placeholder="Sở thích công việc.."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <small class="d-block text-uppercase font-weight-bold mb-3 text-left"><i class="fas fa-grin-hearts"></i> Sở thích cá nhân</small>
                                                    <div class="input-daterange">
                                                        <div class="form-group">
                                                            <div class="input-group">

                                                                <textarea class="flatpickr range form-control" style="height:120px" placeholder="Sở thích cá nhân.."></textarea>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-primary w-100"><i class="far fa-paper-plane"></i> Hoàn thành</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--đổi mật khẩu-->
                            <div class="h5 font-weight-300">


                                <i class="fas fa-lock"></i><i class="ni business_briefcase-24 mr-2"></i>&nbsp; ***********<a href="#" data-toggle="modal" data-target="#modal-form">&nbsp;&nbsp;<i class="fas fa-marker"></i></a>

                                <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body p-0">
                                                <div class="card bg-secondary shadow border-0 mb-0">
                                                    <div class="card-body px-lg-5 py-lg-5">
                                                        <form role="form">
                                                            <div class="form-group">
                                                                <div class="input-group input-group-alternative">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                                                    </div>
                                                                    <input class="form-control" placeholder="Mật khẩu cũ" type="password">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group input-group-alternative">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                                                    </div>
                                                                    <input class="form-control" placeholder="Mật khẩu mới" type="password">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group input-group-alternative">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                                                    </div>
                                                                    <input class="form-control" placeholder="Nhập lại mật khẩu" type="password">
                                                                </div>
                                                            </div>
                                                            <div class="text-center">
                                                                <button type="button" class="btn btn-primary my-4"><i class="far fa-paper-plane"></i> Đổi mật khẩu</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="far fa-calendar-alt"></i>&nbsp; Ngày sinh: @Model.user_date_born
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-mobile-alt"></i>&nbsp; Số điện thoại : @Model.user_phone
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-map-marked-alt"></i>&nbsp; Địa chỉ: @if (Model.commune_id != null) { @Model.Commune.commune_name} , @if (Model.district_id != null) { @Model.District.district_name} , @if (Model.provincial_id != null) { @Model.Provincial.provincial_name} 
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-venus-mars"></i>&nbsp; gới tính : @if(Model.user_sex == 0) { <span>Nam</span>} else if(Model.user_sex == 1) { <span>Nữ</span>}else {<span>EGPT</span> }
                                
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fab fa-facebook-f"></i>&nbsp; Facebook: @Model.user_link_facebok
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fab fa-github"></i>&nbsp; Github: @Model.user_link_github
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-briefcase"></i>&nbsp; Sở thích công việc: @Model.user_hobby_work
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="far fa-grin-hearts"></i>&nbsp; Sở thích cá nhân: @Model.user_hobby
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Action("SuggestionToMakeFriends", "Center")
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0"><i class="fas fa-chart-line"></i> Thống kê </h3>
                            </div>
                            <div class="col-4 text-right">
                                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h6 class="heading-small text-muted mb-4">Hoạt động của tôi ở các bài viết khác.</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-credit-card"></i> [ Bài viết bạn đã quan tâm ]</label>
                                            <div>
                                                @{ 
                                                    List<Reply_Post> replyPost = db.Reply_Post.Where(n => n.user_id == user.user_id).ToList();

                                                }
                                                Tổng đã trả lời của bạn : @replyPost.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Comment> comment = db.Comments.Where(n => n.user_id == user.user_id).ToList();

                                                }
                                                Tổng comment của bạn : @comment.Count()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="fas fa-map-pin"></i> [ Bài viết đã đánh dấu ]</label>
                                            <div>
                                                @{ 
                                                    List<Tick_Post> tickMyPost = db.Tick_Post.Where(n => n.user_id == user.user_id).ToList();

                                                }
                                                Tổng bài viết đã đánh dấu : @tickMyPost.Count()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="fab fa-accessible-icon"></i> &nbsp;  [ Hoạt động bài viết đã đánh giấu ]</label>
                                            <div>
                                                @{ 
                                                    List<Show_Activate_Post> showActivatePost = db.Show_Activate_Post.Where(n => n.user_id == user.user_id).ToList();

                                                }
                                                Bài viết đã đánh dấu hoạt động : @showActivatePost.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Show_Activate_Reply_Post> showActivateReplyPost = db.Show_Activate_Reply_Post.Where(n => n.user_id == user.user_id).ToList();

                                                }
                                                Trả lời các bài viết đã đánh dấu hoạt động : @showActivateReplyPost.Count()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Hoạt động ở bài viết của tôi.</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-credit-card"></i> &nbsp;  [ Bài viết của bạn ]</label>
                                            <div>
                                                @{ 
                                                    int coutViewPost = 0;
                                                    List<Post> ViewPost = db.Posts.Where(n => n.user_id == user.user_id).ToList();
                                                    foreach (var item in ViewPost)
                                                    {
                                                        coutViewPost += (int)item.post_view;
                                                    }
                                                }
                                                Tổng lượt xem bài viết : @coutViewPost
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Post> coutMyPost = db.Posts.Where(n => n.user_id == user.user_id).ToList();

                                                }
                                                Tổng bài viết của bạn : @coutMyPost.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Reply_Post> replyMyPost = db.Reply_Post.Where(n => n.Post.user_id == user.user_id).ToList();

                                                }
                                                Tổng trả lời tất cả bài viết : @replyMyPost.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Rate_Post> ratePost = db.Rate_Post.Where(n => n.Post.user_id == user.user_id).ToList();


                                                }
                                                Bài viết được đánh giá : @ratePost.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Post> postUnder10 = db.Posts.Where(n => n.user_id == user.user_id && n.post_popular < 10).ToList();

                                                }
                                                Bài viết có độ nổi tiếng < 10 : @postUnder10.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Post> postUnder20 = db.Posts.Where(n => n.user_id == user.user_id && n.post_popular < 20 && n.post_popular > 10).ToList();

                                                }
                                                Bài viết có độ nổi tiếng < 20 : @postUnder20.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Post> postAbove40 = db.Posts.Where(n => n.user_id == user.user_id && n.post_popular > 40).ToList();

                                                }
                                                Bài viết có độ nổi tiếng > 40 : @postAbove40.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Post> postUnder1 = db.Posts.Where(n => n.user_id == user.user_id && n.post_popular < 1).ToList();

                                                }
                                                Bài viết để xuất âm : @postUnder1.Count()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-comment-dots"></i> &nbsp; [ Hồi đáp ]</label>
                                            <div>
                                                @{ 
                                                    List<Comment> comments = db.Comments.Where(n => n.Reply_Post.Post.user_id == user.user_id).ToList();
                                                }
                                                Tổng bình luận: @comments.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Reply_Post> reply_Posts = db.Reply_Post.Where(n => n.Post.user_id == user.user_id).ToList();
                                                }
                                                Tổng trả lời: @reply_Posts.Count()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-caret-square-up"></i>&nbsp; [ Trả lời bài viết của bạn được đề xuất cao ]</label>
                                            <div>
                                                @{ 
                                                    List<Reply_Post> replyMyPostUnder10 = db.Reply_Post.Where(n => n.Post.user_id == user.user_id && n.reply_post_popular < 10).ToList();

                                                }
                                                được đề xuất < 10 : @replyMyPostUnder10.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Reply_Post> replyMyPostUnder20 = db.Reply_Post.Where(n => n.Post.user_id == user.user_id && n.reply_post_popular < 20 && n.reply_post_popular > 10).ToList();

                                                }
                                                Được đề xuất < 20 : @replyMyPostUnder20.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Reply_Post> replyMyPostUnder40 = db.Reply_Post.Where(n => n.Post.user_id == user.user_id && n.reply_post_popular < 40 && n.reply_post_popular > 20).ToList();

                                                }
                                                Được đề xuất < 40 : @replyMyPostUnder40.Count()
                                            </div>
                                            <div>
                                                @{ 
                                                    List<Reply_Post> replyMyPostAbove70 = db.Reply_Post.Where(n => n.Post.user_id == user.user_id && n.reply_post_popular > 70).ToList();

                                                }
                                                Được đề xuất > 70 : @replyMyPostAbove70.Count()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <!-- Description -->
                            <h6 class="heading-small text-muted mb-4">Sơ đồ</h6>
                            <div class="pl-lg-4">
                                <div class="card bg-default">
                                    <div class="card-header bg-transparent">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="text-light text-uppercase ls-1 mb-1">Tổng quan</h6>
                                                <h5 class="h3 text-white mb-0">Trả lời</h5>
                                            </div>
                                            <div class="col">
                                                <ul class="nav nav-pills justify-content-end">
                                                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                                                        <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                                            <span class="d-none d-md-block">Month</span>
                                                            <span class="d-md-none">M</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                                                        <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                                            <span class="d-none d-md-block">Week</span>
                                                            <span class="d-md-none">W</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <!-- Chart -->
                                        <div class="chart">
                                            <!-- Chart wrapper -->
                                            <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#selectTechnology").select2({
        placeholder: 'Chọn công nghệ (tối đa 3 công nghệ)..',
        maximumSelectionLength: 3,
        allowClear: true
    });
</script>
<script>
    $("#provincial").select2({
        maximumSelectionLength: 3,
        allowClear: true
    });
    $("#district").select2({
        maximumSelectionLength: 3,
        allowClear: true
    });
    $("#commune").select2({
        maximumSelectionLength: 3,
        allowClear: true
    });
</script>
<script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
