@using FiveP.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
    FivePEntities db = new FivePEntities();
    User user = (User)Session["user"];
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tin nhắn</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/Home/Index"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tin nhắn</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="@Url.Action("IndexPostQuestion","PostQuestion")" class="btn btn-sm btn-neutral">Đặt câu hỏi?</a>
                </div>
            </div>
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">trả lời</h5>
                                    <span class="h2 font-weight-bold mb-0">88</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="fas fa-reply"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Nổi tiếng</h5>
                                    <span class="h2 font-weight-bold mb-0">99</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                        <i class="fa fa-chevron-up"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Bình luận</h5>
                                    <span class="h2 font-weight-bold mb-0">33</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                        <i class="fas fa-comment-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid">

    <h3 class=" text-center">Messaging</h3>
    <div class="messaging mt-2">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list ">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5><a href="#">BoxFiveP</a> <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    @{
                        List<Friend> friends = db.Friends.Where(n => n.user_id == user.user_id || n.user_friend_id == user.user_id).ToList();

                    }
                    @foreach (var item in friends)
                    {
                        // hiển thị bạn theo hai id khác nhau biến  (active_chat)
                        if (item.user_id != user.user_id)
                        {


                            <div class="chat_list ">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5><a href="@Url.Action("MessageTest","Message",new { id = item.user_id})">@item.User.user_nicename</a> <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {

                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5><a href="@Url.Action("MessageTest","Message",new { id = item.user_friend_id})">@item.User1.user_nicename</a> <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Five_P chào bạn! Bạn có thắc mắc gì về chúng tôi.
                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Chính sách của chúng tôi
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Cách chúng tôi hoạt động.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Làm sao để được nhiều huy chương,và sự nổi tiếng.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>
                                .......
                            </p>

                        </div>
                    </div>
                    <div id="contentMsg@(user.user_id)">

                    </div>
                    
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <form id="formMessage">
                            <input type="text" id="txtMessage@(user.user_id)" name="message_content" class="write_msg" placeholder="Type a message" />
                            <button type="reset" class="msg_send_btn" id="btnSend@(user.user_id)"><i class="far fa-paper-plane"></i></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


        <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>

    </div>
</div>

<link href="~/Content/LayoutCenter/Message.css" rel="stylesheet" />
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#btnSend@(user.user_id)").click(function () {
                let searchText = $("#txtMessage@(user.user_id)").val();
                $.ajax({
                    type: "post",
                    url: "/Message/SaveMessageUserVsBos?content=" + searchText,
                    complete: function (response) {
                        $("#contentMsg@(user.user_id)").append(
                            '<div class="outgoing_msg">' + '<div class= "sent_msg"><p>' + searchText + '</p><span class="time_date"> 11:01 AM    |    June 9</span></div ></div >'
                        );
                    }
                })

            })
        })

        $(document).ready(function () {
            $("#btnSend@(user.user_id)").click(function () {

                let searchText = $("#txtMessage@(user.user_id)").val();
                $.ajax({
                    type: "post",
                    url: "/Message/BoxFiveP?searchText=" + searchText,
                    contentType: "html",
                    success: function (response) {
                        $("#contentMsg@(user.user_id)").append(response);
                    }
                })

            })
        })
    </script>
    }
