<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Collective Admin Panel a Flat Bootstrap Responsive Website Template | Home :: W3Layouts</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/AdminLayout/css/style-starter.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
    <div class="se-pre-con"></div>
    <section>
        <!-- sidebar menu start -->
        <div class="sidebar-menu sticky-sidebar-menu">

            <!-- logo start -->
            <div class="logo">
                <h1><a href="index.html">Collective</a></h1>
            </div>

            <!-- if logo is image enable this -->
            <!-- image logo --
    <div class="logo">
      <a href="index.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div>
    <!-- //image logo -->

            <div class="logo-icon text-center">
                <a href="index.html" title="logo"><img src="~/Content/AdminLayout/images/logo.png" alt="logo-icon"> </a>
            </div>
            <!-- //logo end -->

            <div class="sidebar-menu-inner">

                <!-- sidebar nav start -->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="active">
                        <a href="@Url.Action("Index","Users")"><i class="fas fa-users"></i><span> Người dùng</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index","Technology")"><i class="fas fa-rocket"></i><span> Công nghệ</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("TechnologyCare","Users")"><i class="fas fa-rocket"></i><span> Công nghệ Người dùng</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("RatePost","Rate")"><i class="far fa-star"></i><span> Đánh giá câu hỏi</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("RateReplyPost","Rate")"><i class="far fa-star"></i><span> Đánh giá trả lời câu hỏi</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("TickPost","Rate")"><i class="far fa-check-circle"></i><span> Đánh dấu câu hỏi</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("ShowActivatePost","Rate")"><i class="fas fa-globe-europe"></i><span> Hiển thị hoạt động câu hỏi</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("ShowActivateReplyPost","Rate")"><i class="fas fa-globe-europe"></i><span> Hiển thị hoạt động trả lời câu hỏi</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index","Post")"><i class="fas fa-edit"></i><span> Câu hỏi?</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Tags","Post")"><i class="fas fa-tags"></i><span> Tags câu hỏi</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("TechnologyPost","Post")"><i class="fas fa-rocket"></i><span> Công nghệ bài viết</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Notification","Notification")"><i class="far fa-bell"></i><span> Thông báo người dùng</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("NotificationAdmin","Notification")"><i class="far fa-bell"></i><span> Thông báo admin cho người dùng</span></a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index","Advertisement")"><i class="fas fa-ad"></i><span> Quảng cáo</span></a>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="fas fa-map-marker-alt"></i><span> Tỉnh</span></a>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="fas fa-map-marker-alt"></i><span> Huyện</span></a>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="fas fa-map-marker-alt"></i><span> Xã</span></a>
                    </li>

                </ul>
                <!-- //sidebar nav end -->
                <!-- toggle button start -->
                <style>
                    a.sticky {
                        position: -webkit-sticky;
                        position: sticky;
                        top: 50%;
                        padding: 5px;
                        border: 2px solid #4755ab;
                    }
                </style>
                <a class="toggle-btn sticky">
                    <i class="fa fa-angle-double-left menu-collapsed__left"><span>Đóng</span></i>
                    <i class="fa fa-angle-double-right menu-collapsed__right"></i>
                </a>
                <!-- //toggle button end -->
            </div>
            
        </div>
        <!-- //sidebar menu end -->
        <!-- header-starts -->
        <div class="header sticky-header">

            <!-- notification menu start -->
            <div class="menu-right">
                <div class="navbar user-panel-top">
                    <div class="search-box">
                        <form action="#search-results.html" method="get">
                            <input class="search-input" placeholder="Search Here..." type="search" id="search">
                            <button class="search-submit" value=""><span class="fa fa-search"></span></button>
                        </form>
                    </div>
                    <div class="user-dropdown-details d-flex">
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bell-o"></i><span class="badge blue">3</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have 3 new notifications</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#" class="grid">
                                                <div class="user_img"><img src="~/Content/AdminLayout/images/avatar1.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Johnson purchased template</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#" class="grid">
                                                <div class="user_img"><img src="~/Content/AdminLayout/images/avatar2.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>New customer registered </p>
                                                    <span>1 hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="grid">
                                                <div class="user_img"><img src="~/Content/AdminLayout/images/avatar3.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <span>2 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#all" class="bg-primary">See all notifications</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-comment-o"></i><span class="badge blue">4</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have 4 new messages</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#" class="grid">
                                                <div class="user_img"><img src="~/Content/AdminLayout/images/avatar1.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Johnson purchased template</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#" class="grid">
                                                <div class="user_img"><img src="~/Content/AdminLayout/images/avatar2.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>New customer registered </p>
                                                    <span>1 hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="grid">
                                                <div class="user_img"><img src="~/Content/AdminLayout/images/avatar3.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <span>2 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="grid">
                                                <div class="user_img"><img src="~/Content/AdminLayout/images/avatar1.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Johnson purchased template</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#all" class="bg-primary">See all messages</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="profile_details">
                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                                       aria-expanded="false">
                                        <div class="profile_img">
                                            <img src="~/Content/AdminLayout/images/profileimg.jpg" class="rounded-circle" alt="" />
                                            <div class="user-active">
                                                <span></span>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                        <li class="user-info">
                                            <h5 class="user-name">John Deo</h5>
                                            <span class="status ml-2">Available</span>
                                        </li>
                                        <li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
                                        <li> <a href="#"><i class="lnr lnr-users"></i>1k Followers</a> </li>
                                        <li> <a href="#"><i class="lnr lnr-cog"></i>Setting</a> </li>
                                        <li> <a href="#"><i class="lnr lnr-heart"></i>100 Likes</a> </li>
                                        <li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--notification menu end -->
        </div>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <!-- content -->
            @RenderBody()
            <!-- //content -->
        </div>
        <!-- main content end-->
    </section>
    <!--footer section start-->
    <footer class="dashboard">
        <p>
            &copy 2020 Collective. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank"
                                                                      class="text-primary">W3layouts.</a>
        </p>
    </footer>
    <!--footer section end-->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
    </script>
    <!-- /move top -->


    <script src="~/Content/AdminLayout/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-1.10.2.min.js"></script>

    <!-- chart js -->
    <script src="~/Content/AdminLayout/js/Chart.min.js"></script>
    <script src="~/Content/AdminLayout/js/utils.js"></script>
    <!-- //chart js -->
    <!-- Different scripts of charts.  Ex.Barchart, Linechart -->
    <script src="~/Content/AdminLayout/js/bar.js"></script>
    <script src="~/Content/AdminLayout/js/linechart.js"></script>
    <!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


    <script src="~/Content/AdminLayout/js/jquery.nicescroll.js"></script>
    <script src="~/Content/AdminLayout/js/scripts.js"></script>

    <!-- close script -->
    <script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
    </script>
    <!-- //close script -->
    <!-- disable body scroll when navbar is in active -->
    <script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
    </script>
    <!-- disable body scroll when navbar is in active -->
    <!-- loading-gif Js -->
    <script src="~/Content/AdminLayout/js/modernizr.js"></script>
    <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
    </script>
    <!--// loading-gif Js -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/AdminLayout/js/bootstrap.min.js"></script>
    
</body>

</html>
